html, body {
/*  border: dotted 2px red;*/
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
}

.container {
/*  width: 940px;*/
  /*margin: 0 auto;*/
}

.about {
  text-align: center;
}

.contact {
  text-align: center;
}

button {
  width: 5em;
  font-size: 2em;
  border-radius: 0.3em;
  border: solid 2px #fff;
  color: #fff;
  padding: 1px;
  background: transparent;
}

button a {
  color: #a56ed4;
  text-shadow: 1px 1px #000;
}

.jumbotron {
  height: 45em;
  background: url("img/IMG523bw.jpg") no-repeat center center;
/*  background-image: url("IMG0523.jpg");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*p {
  display: inline;
  border: solid 6px #fff;
  padding: 5px;
}*/

.main {
  position: relative;
  top: 180px;
  text-align: center;
  
}

.main h1 {
/*  border: dotted 2px green;*/
  display: inline-block;
  color: #C78EFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 1px 1px #000;
  margin-top: -1em;
  margin-bottom: 5px;
  border: solid 1px #fff;
/*  border-left: solid 10px #fff;
  border-right: solid 10px #fff;*/
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
/*  text-transform: uppercase;*/
}

.main p {
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px #000;
}

.clearfix {
  clear: both;
}
